.header.clearfix
  h1 Awesome To Do App.
  br
  nav
    ul.nav.nav-pills.pull-left
      li.active(role='presentation')
        a(href='/') All Tasks
      li(role='presentation')
        a(href='/completed') Completed Tasks
